<div class="post-recent">
    <div class="pre">
        {% if page.previous %}
        <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex">

        {% if page.next %}
        <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>

    <br>

    <div class="">

        <div align="center">
            
            打赏我

        </div>

        <div  align="center">
            <img src="http://upload-images.jianshu.io/upload_images/2279594-2814c4489456e26e.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" width="200" height="200/">
        </div>
    </div>
</div>
