<div class="post-recent">
    <div class="pre">
        {% if page.previous %}
        <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex">

        {% if page.next %}
        <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>

    <br>

    <div class="">

        <div align="center">
            打赏我
        </div>
        <br>
        <div  align="center">
            <img src="http://img.blog.csdn.net/20170708155617159?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvZm9yZXpw/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast" width="200" height="200/">
        </div>
    </div>
</div>
